<template>
  <AppHeader />
  <div class="container-fluid">
    <FruitsList />
  </div>
</template>

<script>
import AppHeader from './components/AppHeader.vue'
import FruitsList from './components/FruitsList.vue'
  export default{
    components:{
      AppHeader,FruitsList
    },
         
  }
</script>
